/* CONFIGURAÇAO BODY */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* CONFIGURAÇÃO HEADER */

header {
    width: 100%;
    text-align: center;
}

.artglassicon {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* CONFIGURAÇÃO FOOTER */

footer {
    width: 100%;
    text-align: right;
    background-color: gray;
}

.navfoot {
    margin-right: 40px;
    margin-left: 40px;
}

.lifoot {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lifoot2 {
    float: left;
    display: inline-block;
}

.pfoot {
    margin-top: 20px;
    font-size: clamp(0.5em, 1em, 1.5em);
}


.instaicon {
    width: 32px;
}

.whatsicon {
    width: 34px;
}

.locateicon {
    width: 25px;
}

/* CONFIGURAÇÃO SECTION */

section {
    text-align: center;
}

.h1sec {
    font-size: clamp(1em, 1.5em + 1vw, 3em);
    margin-top: 50px;
}

.psec {
    margin-top: 10px;
    font-size: clamp(0.5em, 1em, 1.5em);
}

.psec2 {
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: clamp(0.5em, 1em, 1.5em);
}

.asec  {
    background-color: gray;
    padding: 15px;
    border-radius: 3px;
}

hr {
    display: center;
    height: 3px;
    background-color: gray;
    margin-left: 48%;
    margin-right: 48%;
    margin-top: 50px;
}

.phr {
    text-align: center;
    margin-top: 5px;
    font-size: clamp(0.5em, 1em, 1.5em);
}
