/* CONFIGURAÇAO BODY */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* CONFIGURAÇÃO HEADER */

header {
    width: 100%;
    text-align: center;
}

.artglassicon {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* CONFIGURAÇÃO FOOTER */

footer {
    width: 100%;
    text-align: center;
    background-color: gray;
}

.navfoot {
    margin-right: 40px;
    margin-left: 40px;
}

.lifoot {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.instaicon {
    width: 32px;
}

.whatsicon {
    width: 34px;
}

.locateicon {
    width: 25px;
}

/* CONFIGURAÇÃO SECTION */

.sechead {
    text-align: center;
}

.h1sec {
    font-size: clamp(1em, 1.5em + 1vw, 3em);
    margin-top: 50px;
}

.psec {
    margin-top: 10px;
    font-size: clamp(0.5em, 1em, 1.5em);
}

.phr {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: clamp(0.5em, 1em, 1.5em);
}

.hra {
    background-color: gray;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
}

/* CONFIGURAÇÃO GRADE */

.img1 {
    width: 20%;
    border-radius: 500px;
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .grade {
      display: block;
    }
}

@media screen and (max-width: 700px) {
    .img1 {
      width: 50%;
    }
}

@media screen and (mix-width: 800px) {
    .imgp {
        font-size: clamp(0.5em, 1em, 1.5em);
    }
}

.grade {
    text-align: center;
    margin-top: 35px;
}

.pgrade {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}
